<html>
<head>
<title>Crea nuovo documento</title>
</head>
<body>
<h1>Crea nuovo documento (2 di 2)</h1>
<h2>compila i campi del documento </h2>
<h3>modello &quot;Documenti per assicurare la qualit&agrave;&quot;</h3>

<form> 
  <fieldset>
<legend>Intestazione</legend>
<table width="300" border="1">
  <tr>
    <td>Data</td>
    <td><input type="text" name="document_creation_date"></td>
  </tr>
  <tr>
    <td>ID Documento</td>
    <td><input type="text" name="document_id"></td>
  </tr>
  <tr>
    <td>Revisione</td>
    <td><input type="text" name="document_revision"></td>
  </tr>
  <tr>
    <td>Lingua</td>
    <td><input type="text" name="document_language"></td>
  </tr>
  <tr>
    <td>Stato</td>
    <td><input type="text" name="document_state"></td>
  </tr>
</table>
<p>Titolo: <br />
<input type="text" name="field_titolo">
</p>
<p>Abstract: <br />
<textarea name="field_abstract" rows="5" cols="80">
</textarea>
</p>

<p>Corpo: <br />
<textarea name="field_corpo" rows="10" cols="80">
</textarea>
</p>

<p>Eccezioni all'applicazione: <br />
<textarea name="field_eccezioniallappplicazione" rows="5" cols="80">
</textarea>
</p>

<p>Riferimenti normativi: <br />
<textarea name="field_riferimentinormativi" rows="5" cols="80">
</textarea>
</p>

  </fieldset> 
  <div align="left">
    <p><input type="button" value="Annulla" /> <input type="submit" value="Avanti >" /></p>
  </div>
</form>
</body>
</html>