<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Crea nuovo documento</title>
</head>
<body>
<h1>Crea nuovo documento (1 di 2)</h1>
<h2> seleziona la classe del documento</h2>
<form> 
<fieldset>
<legend>Classe di documento:</legend>
<input type="radio" name="classe" value="DQ"/> Documenti per assicurare la qualit&agrave;<br />
<input type="radio" name="classe" value="OA"/> Organizzazione aziendale<br />
<input type="radio" name="classe" value="PO"/> Procedure operative<br />
<input type="radio" name="classe" value="DT"/> Documenti tecnici<br />
<input type="radio" name="classe" value="RS"/> Rapporti statistici e gestionali<br />
<input type="radio" name="classe" value="VR"/> Verbali di riunioni<br />
<input type="radio" name="classe" value="EX"/> Documenti provenienti dall'esterno<br />
<input type="radio" name="classe" value="A1"/> Allegato standard: Modello Elenco Revisioni
</fieldset> 
  <div align="left">
    <p><input type="button" value="Annulla" /> <input type="submit" value="Avanti >" /></p>
  </div>
</form>
</body>
</html>