@CHARSET "UTF-8";

/*
Roba per il menu
*/
#menu {
	width: 100%;
	background: #eee;
	float: left;
	margin-bottom: 3.5em;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
	float: left;
}

#menu a,#menu h2 {
	font: bold 11px/16px arial, helvetica, sans-serif;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #888 #555 #bbb;
	margin: 0;
	padding: 2px 3px;
}

#menu h2 {
	color: #fff;
	background: #000;
	text-transform: uppercase;
}

#menu a {
	color: #000;
	background: #efefef;
	text-decoration: none;
}

#menu a:hover {
	color: #a00;
	background: #fff;
}

#menu li {
	position: relative;
}

#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}

#menu ul ul {
	position: absolute;
	z-index: 500;
}

div#menu ul ul {
	display: none;
}

div#menu ul li:hover ul {
	display: block;
}

div#menu ul ul,div#menu ul li:hover ul ul,div#menu ul ul li:hover ul ul
	{
	display: none;
}

div#menu ul li:hover ul,div#menu ul ul li:hover ul,div#menu ul ul ul li:hover ul
	{
	display: block;
}

/*
Comportamento simil tabella
*/
#container {
	width: 80%;
	display: table;
	margin: 1em;
}

#row {
	display: table-row;
	margin: 0;
}

#left,#right,#middle {
	display: table-cell;
	margin: 0;
}

/* Regole di stile aggiunte */

h1 {margin-left: 1.5em;}

.campo {margin: 5px 2px; }

/* margini + fix per mandare a capo il contenuto della pagina */
#error, #result, #fillDocument, #showModel, #search, #viewList, #view {
	margin-left: 3em;
	width: 50em;
	
	/* fix per mandare a capo il contenuto della pagina */
	clear: both;
}